.middle{
    padding-top: 41.345177664974619vh;
    padding-left: 41.4722222222222223vw;
}
.text-area{

width: 200px;
height: 30px;
align-items: center;
text-align: center;
}
.Getbill{

    padding-top: 4.345177664974619vh;
    padding-left: 45.4722222222222223vw;

}

.button {
  background-color: #521751;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #521751;
}

.button1:hover {
  background-color: #521751;
  color: white;
}
.btn1{
    width: 100px;
    height: 30px;
    border-radius: 0px;
    outline: none;
    border-width: 1px;
}
.btn2{
    width: 205px;
}
.ChangeMeter{

    padding-top: 4.345177664974619vh;
    padding-left: 41.4722222222222223vw;
}
